<div class="relative min-h-screen flex">
  <!-- mobile menu bar-->

  <!-- sidebar -->
  <div class="bg-blue-800 text-blue-100 w-64 space-y-6 px-2">
    <!-- logo -->
    <a href="#" class="text-white flex items-center space-x-3">
      <mat-icon class="material-icons-outlined">verified</mat-icon>
      <span class="text-2xl font-extrabold">CareFirst</span>
    </a>

    <!-- nav-->
    <nav>
      <a href="#" class="nav-link">Home</a>
      <a href="#" class="nav-link">Patients</a>
      <a href="#" class="nav-link">Centers</a>
      <a href="#" class="nav-link">Appointments</a>
    </nav>
  </div>

  <!-- content -->
  <div class="p-10 text-2xl font-bold flex-1">Content goes here</div>
</div>
